/* =====common css======= */

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

li{
    list-style: none;
}

p{
    color: #272727;
}

.btn{
    color: #FFF;
    background-color: #E55473;
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}


/* ====header content========= */

.header-container{
    background-color: rgba(229, 82, 114, 0.1);
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-content{
    margin-left: 200px;
}

.header-title{
    font-size: 42px;
    margin-bottom: 20px;
}

.header-para{
    width: 600px;
}

/* =====main section css start ============= */

.main-section{
    margin-top: 30px;
}

/* -------featured section css--------- */

.main-section .featured-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
}

.main-section .featured-section h2{
    margin-bottom: 15px;
    font-size: 30px;
}

.main-section .featured-section p{
    margin-bottom: 15px;
    text-align: center;
}

.main-section .featured-section .pink-flower{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main-section .featured-section .pink-flower .rec {
    margin: 15px 20px;
    width: 33%;
    height: 500px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: self-end;
    position: relative;
    
}

/* .main-section .featured-section .pink-flower .rec img{
    width: 300px;
    height: 350px;
} */



.main-section .featured-section .pink-flower .rec-one{
    background: rgba(167, 33, 98, 0.1);
    
}

.main-section .featured-section .pink-flower .rec-two{
    background: rgba(5, 151, 160, 0.1);
}

.main-section .featured-section .pink-flower .rec-three{
    background: rgba(71, 125, 17, 0.1);

}

 .flower-tree-link{
    position: absolute;
    width: 200px;
    bottom: -50px;
 }

 .flower-tree-link a{
    color: #272727;
 }

 /* ------hot deal container css--------- */

 .hot-deal-container{
    width: 100%;
    margin-top: 100px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
 }

 .hot-deal-content{
    width: 50%;
    text-align: center;
 }

 .hot-deal-container h2{
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
 }

 .hot-deal-container span{
    color: #db4a39;
 }



    .hot-deal-container p{
        text-align: center;
    }

    /* -------instagram section css--------- */

    .instagram-container{
        margin: 100px 100px 50px 200px;
        text-align: center;
    }

    .instagram-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
    }

    .instagram-content h2{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .instaram-picture{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .instaram-picture img{
        width: 300px;
        height: 350px;
    }

    .input-container{
        margin: 20px 100px 20px 200px;
        text-align: center;
    }
    
    .input-item{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('images/banner.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .input-item h2{
        font-size: 32px;
    }

    .input-item input{
        width: 450px;
        padding: 15px;
        border: none;
    }

    /* -----social section css------------- */

    .social-section{
        margin: 20px 100px 30px 200px;
        background-color: rgba(236, 190, 200, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .social-section h2{
        font-size: 32px;
        margin-top: 15px;
        margin-bottom: 25px;

    }

    .social-section ul{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
    }
  


    .social-section .fa-facebook{
        color: #17a8fd;
        cursor: pointer;
    }

    .social-section .fa-twitter{
        color: #00ACEE;
        cursor: pointer;
    }

    .social-section .fa-instagram{
        color: #fa7e1e;
        cursor: pointer;
    }

    .social-section .fa-google-plus{
        color: #db4a39;
        cursor: pointer;
    }

    .social-section .fa-youtube{
        color:  #CD201F;
        cursor: pointer;
    }



    /* ------footer css start--------- */

    footer{
        height: 400px;
        background-color: #111010;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFF;
    }

    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;  
    }

    .footer-content h2{
        font-size: 32px;
        margin-bottom: 25px;
    }

    .footer-content span{
        color: #E55473;
    }

    .footer-content p{
        color: #FFF;
    }

    .footer-content .copy-right{
        font-size: 13px;
        margin-top: 50px;
    }

   
   
    














